<%= form_for(@product) do |f| %>
	<% if @product.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

			<ul>
			<% @product.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<div class="field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>

	<div class="field">
		<%= f.label :product_type %><br>
		<%= f.text_field :product_type %>
	</div>

	<div class="field">
		<%= f.label :price, "Price ($USD):" %><br>
		<%= f.text_field :price, :placeholder => (number_with_precision(0.00, :precision => 2) || 0) %>
	</div>

	<br>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>